@import url('login.css');
@import url('people-list.css');

.header{
  background-color: rgb(48, 45, 45);
  color: white;
  display: flex;
  flex-direction: row;
  padding-left: 5%;
}
.header h1{
  align-items: center;
  
}
.logo{
  width: 200px;
  height: 100px;
}
.main{
  display: flex;
  flex-direction: column;
}

.menu{
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  height: 80vh;
  width: 15%;
  overflow: scroll;
  scrollbar-width: none;
}
.body{
  background-color: lightblue;
  width: 100%;
  height: 80vh;
  align-items: center;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}
.menu_and_body{
  display: flex;
  flex-direction: row;
}
.menu_and_body::-webkit-scrollbar{
  display: none;
}
.footer{
  background-color: lightgreen;
}

.selecao{
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.selecao ul{
  margin: 0;
  padding: 0;
  display: none;
}
.selecao input[type="checkbox"]{
  display: none;
}
.selecao label{
  margin-left: 0;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.selecao label::after{
  margin: 10px;
  font-size: 18px;
  font-weight: bold;
  content: "+";
  cursor: pointer;
}

.selecao input[type="checkbox"]:checked + label::after {
  content: "-";
  cursor: pointer;
}

.selecao ul{
  margin: 0;
}

.selecao li{
  margin: 30px;
  margin-left: 10px;
  align-items: center;
}

.selecao a{
  padding: 0;
  margin: 30px;
  margin-left: 10px;
  align-items: center;
  font-weight: bold;
  text-decoration: none;
  color: white;
}


.selecao li a:hover {
  background-color: darkgray;
  color: gray;
}

.selecao li label:hover {
  background-color: darkgray;
  color: gray;
}

.selecao input[type="checkbox"]:checked ~ ul{
  list-style-type: none;
  display: inline;
  padding: 0;
}

