.login{
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    justify-content: center;
    margin-top: 5%;
}
.login form{
    background-color: aqua;
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 20%;
    height: 50%;
    border: 1px solid black;
    border-radius: 20px;
}
.login form label, input{
    font-weight: bold;
    margin-block: 5px;
    border-radius: 10px;
    height: 25px;
}

.login form button{
    margin-block: 20px;
    background-color: yellow;
    font-size: 20px;
    border-radius: 20px;
    font-weight: bold;
    margin-inline: 15px;
    cursor: pointer;
}

.login .buttons button{
    margin-block: 30px;
}