.people{
    background-color: lightyellow;
    display: flex;
    justify-content: center;
}


.people tr, td, table{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 5px;
    padding-inline: 30px;
}
.people thead{
    font-weight: bold;  
}
.people .people-list-title{
    font-size: 25px;
}